/* CSS reset: 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* jQuery styling */
.hide {
    display: none;
}

/* begin content styling */

* {
    box-sizing: border-box;
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
}

body {
    line-height: 1;
    background-image: url(https://user-images.githubusercontent.com/39974667/65441458-f0fa6080-de19-11e9-9547-63e01f00ac83.png);
    background-color: #FEFDFC;
    background-position: top right;
    background-size: 150px;
    background-repeat: no-repeat;
}

/* section styling */

header {
    padding: 30px;
    margin: 10px 10px 40px 10px;
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
} 

nav {
    display: inline-block;

}

nav ul {
    list-style: none;
}

section {
    margin-top: 30px;
}

main {
    padding: 0px 30px 30px 30px;
    margin: 10px 10px 40px 10px;
}

section {
    margin-top: 20px;
    padding: 10px 0;
}

.tech-used li {
    display: inline-block;
    margin: 5px 5px 20px 0;
    padding: 5px;
}

.contact-info {
    padding-top: 30px;
    text-align: center;
}

footer {
    margin: 10px auto;
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    text-align: center;
}

.footer-nav li {
    display: inline-block;
    margin: 5px 5px 0 0;
    padding: 5px;
}

.footer-info {
    background-color: rgba(204, 218, 209, 0.5);
    padding-top: 40px;
}

/* button, icon, img styling */

.project-links {
    text-align: center;
    margin: 20px;
}

.project-function {
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 5px 0 5px;
    padding: 5px;
    background-color: rgba(204, 218, 209, 0.5);
    border: none;
    cursor: pointer;
    text-align: center;
}

.project-function:hover {
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 5px 0 5px;
    padding: 5px;
    background-color: rgba(15, 113, 115, 0.5);
    border: none;
    cursor: pointer;
    text-align: center;
}

img {
    display: block;
    margin: 25px auto;
}

.about-img, .project-img {
    width: 95%;
}

.footer-img {
    width: 45%;
    margin-bottom: -40px;
}

.tech-icon, .contact-icon {
    display: inline-block;
    height: 20px;
}

.contact-list img {
    margin-bottom: 10px;
    height: 30px;
    display: inline-block;
}

/* text styling */

h1 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 4px;
    text-transform: uppercase; 
    padding: 10px 0;
    margin: 20px 0 10px 0;
}

h2 {
    font-weight: 400;
    letter-spacing: 1px;
    font-size: 16px;
    padding: 5px 0;
    margin: 10px 0;
}

.h3-wrap {
    background: linear-gradient(180deg,rgba(255, 255, 255, 0) 30%, rgba(204, 218, 209, 0.5) 30%);
    display: block;
    margin: 50px auto 20px auto;
    padding: 0 10px 5px 10px;
    text-align: center;
    width: 150px;
}

h3 {
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

h4 {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 5px 0;
}

h5 {
    font-size: 16px;
    font-weight: 300;
    padding: 5px 0;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 2em;
    padding: 10px 0;
}

a {
    color: #071013;
    text-decoration: none;
    cursor: pointer;
}

.contact-list a:hover {
    color: #094246;
    text-decoration: none;
    cursor: pointer;
}

.contact-list a:visited {
    color: #094246;
    text-decoration: none;
    cursor: pointer;
}

.contact-list li {
    display: block;
    margin: 15px 0;
    font-size: 14px;
    text-align: center;
}

nav li {
    display:block;
    width: 130px;
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 5px 0 5px;
    padding: 5px;
    color: #071013;
    background-color: rgba(204, 218, 209, 0.5);
    text-decoration: none;
    text-align: center;
}
    
nav li:hover {
    display: block;
    width: 130px;
    font-family: 'Montserrat', Verdana, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 5px 0 5px;
    padding: 5px;
    color: #071013;
    background-color: rgba(15, 113, 115, 0.5);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

li {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5em;
}

footer h2 {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase; 
}

footer h3 {
    font-size: 12px;
    font-weight: 300;
}

/* start media queries for larger screens */

/* landscape mobile devices */
@media screen and (min-width: 560px) {
    body {
        background-size: 160px;
    }

    .footer-img {
        width: 40%;
        margin-bottom: -60px;
    }
}

/* tablets */
@media screen and (min-width: 760px) {
    body {
        background-image: url(https://user-images.githubusercontent.com/39974667/65534637-671cc700-deef-11e9-8123-4c95ae2c2943.png);        
        background-size: 280px;
        background-position: top right;
        background-repeat: no-repeat;
    }

    header {
        margin-left: 30px;
    }

    #about-page, #projects-page, #contact-page {
        margin: 40px 30px 0 30px;
    }

    .footer-img {
        width: 30%;
        margin-bottom: -60px;
    }

    /* text styling */

    h1 {
        font-size: 26px;
    }

    h2 {
        font-size: 18px;
    }

    .h3-wrap {
        width: 180px;
    }

    h3 {
        font-size: 24px;
        width: 150px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-size: 18px;
    }

    p {
        font-size: 18px;
    }

    .contact-list li {
        font-size: 16px;
    }

    nav li {
        font-size: 18px;
    }
        
    nav li:hover {
        font-size: 18px;
    }

    li {
        font-size: 16px;
    }

    footer h2 {
        font-size: 16px;
    }

    footer h3 {
        font-size: 14px;
    }
}

/* desktops */
@media screen and (min-width: 1000px) {
    body {
        background-size: 310px;
    }

    .project-img, .about-img {
        width: 85%;
    }

    .footer-img {
        width: 25%;
        margin-bottom: -60px;
    }

    nav {
        margin-top: 40px;
    }

    /* text styling */

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }

    .h3-wrap {
        width: 200px;
        margin: 70px auto 50px auto;
    }

    h3 {
        font-size: 26px;
        width: 180px;
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-size: 20px;
    }

    p {
        font-size: 20px;
    }

    .project-function {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 30px;
    }

    .project-function:hover {
        font-size: 18px;
        padding: 5px 15px;
        margin-top: 30px;
    }

    .contact-list li {
        font-size: 16px;
    }

    nav li {
        font-size: 20px;
        width: 160px;
    }
        
    nav li:hover {
        font-size: 20px;
        width: 160px;
    }

    li {
        font-size: 18px;
    }

    footer h2 {
        font-size: 20px;
        margin-top: 40px;
    }

    footer h3 {
        font-size: 16px;
    }
}

/* large desktop displays */
@media screen and (min-width: 1300px) {
    header, main {
        width: 90%;
    }
}

@media screen and (min-width: 1500px) {
    body {
        background-size: 340px;
    }

    .footer-img {
        width: 20%;
        margin-bottom: -70px;
    }
}